php_value auto_prepend_file "prepend.php"

RewriteEngine On

# If the requested file or directory exists, serve it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise, route everything to index.php
RewriteRule ^ index.php [L]
